.productpage-container {
    height: 90vh;
    width: 100vw;
    padding: 10px;
    margin-top: 10vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.images {
    background-color: rgb(240, 240, 240);
    width: 700px;
    height: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-pic {
    width: 650px;
    height: 350px;
    margin: 20px auto;

    border-radius: 5px;
}

.main-pic img {

    width: 648px;
    height: 348px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.other-pics {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    margin: 40px auto;
    margin-right: 10px;
    display: inline-block;
}

.other-pics img {
    width: 148px;
    height: 98px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.infos {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(248, 248, 248);
    width: 700px;
    height: 600px;
    border-radius: 10px;
}

.title {
    width: 80%;
    height: 60px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}
.title h2{
    color: #303030;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.info {
    width: 50%;
    min-height: 400px;
    float: right;
    text-align: right;
    padding: 20px;
    padding-right: 40px;
}
.info h4{
    color: #303030;
    margin-bottom: 15px;
}
.info h3{
    margin-bottom: 20px;
    color: #1d1d1d;
}
.info p{
    margin-right: 20px;
    margin-bottom: 10px;
}

.info ul li{
    display: inline-block;
    color: #343434;
    background-color: #ffffb4;
    border-radius: 5px;
    padding:5px 10px;
    margin-right: 10px;
}
.info h5 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

}


.sizes {
    margin-top: 20px;
    margin-left: 50px;
    float: left;
    width: 270px;
    min-height: 400px;
}
.shop-info{
    margin: 30px 10px;
    text-align: right;
}
.shop-info li {
    text-align: right;
    font-size: 14px;

}

.sizes h3{
    color: #303030;
    margin-top: 70px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.sizes button {
    height: 60px;
    width: 190px;
}