.container{
    justify-content: center;

}
.sidebar-container{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 10vh;
    height: 100vh;
    width: 20vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.component-container{
    width: 80vw;
    margin-right: 20vw;
    margin-top: 10vh;
    padding:30px 0px;
    border-radius: 10px;
    
}
.menu-items{
    margin-top: 50%;
    list-style-type: none;
    justify-items: center;
}
.menu-items :hover{
    background-color: rgb(193, 192, 143);
    

}
.menu-item{
    margin-right: 40px;
    margin-bottom: 40px;
    
    display: block;
    font-size: 18px;
    height: 50px;
    width: 200px;
    padding: 0;
    text-align: right;
    border-radius: 5px;
    cursor: pointer;
}
.menu-icon{
    color: #454545;
    margin-top:5px ;
    margin-left: 10px;

}
.menu-title{
    margin-top: 0;
}