@font-face {
  font-family: 'Vazir-Medium';
  src:url('./fonts/Vazir-Medium.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: Vazir-Medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
